* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.wrap {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 30px;
}

.wrap.right {
    justify-content: right;
}

#title {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin: 30px 0;
    font-weight: bold;
}

#reference {
    color: blue;
    margin-top: 50px;
}

input {
    border: 1px solid #dbdbdb;
    padding: 15px;
    border-radius: 7px;
    font-size: 17px;
    text-align: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-color: #fff;
    cursor: pointer;
}

input:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-color: #999;
    background-color: #f8f9fa;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #80bdff;
}

button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #495057;
    background-color: #e9ecef;
    border: 1px solid #f1f3f5;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    margin-top: 15px;
}

button:hover {
    background-color: #dee2e6;
    border-color: #e9ecef;
}

button:active {
    background-color: #d3d9df;
    border-color: #dee2e6;
}